<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ship_model">

  <gazebo>
    <static>true</static>
  </gazebo>

  <link name="ship">
    <visual>
      <geometry>
        <mesh filename="package://ouster_description/meshes/Ship_SOLID.stl" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://ouster_description/meshes/Ship_SOLID.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="5000"/>
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0"
              iyy="1000.0" iyz="0.0" 
              izz="1000.0" />
    </inertial>
  </link>
</robot>
